#home, #skills,#contact{
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
  background-color: #1a1a1a;
  font-family: Arial, sans-serif;
}
#about, #project, #contact2{
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
  background-color: #393838;
  font-family: Arial, sans-serif;
}
#contact2{
  background-color: #393838;
  padding: 15px;
}
nav {
  text-align: right;
  padding: 20px;
}
nav a {
  color: rgb(19, 19, 1); 
  text-decoration: none;
  margin-left: 15px;
  font-size: 16px;
}

section {
  padding: 80px 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  scroll-margin-top: 80px;
  color: white;
}

#heading {
  top: 40%;
  text-align: right;
  color: rgb(243, 222, 225);
  margin-left: 60px;
  padding: 80px 50px ;
}

.overlay-text {
  position: absolute;
  top: 100%;
  left: 60%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: rgb(240, 234, 234);
  background: rgba(75, 66, 75, 0.577);
  padding: 20px 50px;
  border-radius: 80px;
}

.center-img{
  display: block;
  margin: 10px auto;
  max-width: 50%;
  height: auto;
  margin-left: 30px;
} 
.center-img {
  width: 700px;
  height: auto;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #444343;
  box-shadow: 0 0 10px rgba(2, 2, 2, 0.2);
}

.center-img1 {
  display: block;
  margin: 10px auto;
  max-width: 100%;
  height: auto;
  margin-top: -250px;
  margin-right: 20%;
}

.center-img1 {
  width: 250px;
  height: auto;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #4b4a4a;
  box-shadow: 0 0 10px rgba(12, 10, 10, 0.2);
}
#about p{
    font-size: x-large;
    margin-right: 30%;
    margin-bottom: -30px;
}
#about button{
  width: 300px;
  height: 50px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgb(251, 200, 207);
  
}

.d1 {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 40px;
  max-width: 600px;
  margin: 0 auto;
  padding: 40px 0;
}
.d1 img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  background-color: #111;
  padding: 10px;
  border-radius: 12px;
  box-shadow: 0 0 10px  rgb(251, 200, 207);
}

.pro {
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 50px;
  align-items: center;
}
.pro-card {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(252, 146, 208, 0.416);
  transition: transform 0.5s ease;
}
.pro-card img {
  width: 400px;
  height: auto;
  object-fit: contain;
  display: block;
  transition: transform 0.6s ease, filter 0.6s ease;
}
.pro-card:hover img{
  transform: scale(1.1);
  filter: brightness(1.5);
}
.pro-info {
  position: absolute;
  bottom: -100%;
  left: 0;
  right: 0;
  background-color: rgba(27, 26, 26, 0.75);
  color: rgb(249, 200, 243);
  padding: 20px;
  transition: bottom 0.6s ease;
  text-align: center;
}
.pro-card:hover .pro-info {
  bottom: 0;
}

.pro-info h3 {
  margin-bottom: 10px;
  font-size: 20px;
  color: #00ffd5;
}

.pro-info p {
  font-size: 14px;
  color: #eee;
}


.grid-img {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}
.grid-img img {
  width: 30px;
  height: auto;
  cursor: pointer;
}

#contact2{
  min-height: 30vh;
  padding: 40px 20px;
}
.contact-form{
  font-size: x-large;
}
.contact-form button{
  width: 300px;
  height: 50px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgb(251, 200, 207);
}
.contact-form input,
.contact-form textarea {
  width: 110%;
  padding: 13px;
  border: none;
  border-radius: 8px;
  background-color: #3f3e3e;
  color: rgb(253, 239, 239);
  font-size: 16px;
  outline: none;
}
footer {
  text-align: center;
  padding: 20px;
  background-color: #111;
  color: white;
}
